{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env zsh

# load environment variables
. ${HOME}/.zshenv
. ${XDG_CONFIG_HOME}/zsh/.zshenv

# aqua
echo "Update aqua packages..."
aqua i -a

# zsh
echo "\nUpdate zsh plugins..."
. ${XDG_CONFIG_HOME}/zsh/01_plugins.zsh
zinit update -a -n

# vim
echo "\nUpdate neovim plugins..."
nvim --headless "+Lazy! sync" +qa
{{ end -}}
