#!/usr/bin/env zsh

# load environment variables
. ${HOME}/.zshenv
. ${XDG_CONFIG_HOME}/zsh/.zshenv

# aqua
echo "Update aqua packages..."
aqua i -a

# vim
echo "\nUpdate neovim plugins..."
nvim --headless "+Lazy! sync" +qa
