{{- $osBase := .chezmoi.os -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $osBase = .chezmoi.osRelease.idLike -}}
{{- end -}}

{{- $headless := false -}}
{{- $wsl := false -}}
{{- $github_actions := false -}}
{{- $private := false -}}

{{- if eq .chezmoi.username "m1yam0t0" -}}
{{-   $private = true -}}
{{- end -}}

{{- if or (eq .chezmoi.hostname "mymt-desktop") (eq .chezmoi.hostname "mymt-thinkpad") -}}
{{-   $private = true -}}
{{- end -}}

{{- if (env "WSL_DISTRO_NAME") -}}
{{-   $headless = true -}}
{{-   $wsl = true -}}
{{- end -}}

{{- if (env "GITHUB_ACTION") -}}
{{-   $headless = true -}}
{{-   $github_actions = true -}}
{{- end -}}

{{- if or (env "SSH_CLIENT") (env "SSH_CONNECTION") -}}
{{-   $headless = true -}}
{{- end -}}

[data]
    osbase = {{ $osBase | quote }}
    headless = {{ $headless }}
    wsl = {{ $wsl }}
    github_actions = {{ $github_actions }}
    private = {{ $private }}
