{{- $osBase := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $osBase = .chezmoi.osRelease.idLike -}}
{{- end -}}

{{- $headless := false -}}
{{- $private := false -}}

[data]
    osbase = {{ $osBase | quote }}
    headless = {{ $headless }}
    private = {{ $private }}
