LICENSE
README.md
renovate.json

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/macos/**
.config/karabiner/**
{{ else }}
.config/zsh/.zprofile
{{ end }}

{{ if ne .osbase "debian" }}
.chezmoiscripts/debian/**
.gnupg/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents/**
{{ else }}
.chezmoiscripts/*.sh
.config/aquaproj-aqua/**
.config/bat/**
.config/gh/**
.config/nvim/**
.config/sops/**
.config/zsh/**
.local/share/zsh/**
.tool-versions
.zshenv
{{ end }}

{{ if .headless }}
.config/karabiner/**
.config/wezterm/**
.ssh/id_ed25519_sk
.ssh/id_ed25519
.ssh/id_ed25519.pub
{{ end }}

{{ if not .wsl }}
.chezmoiscripts/debian/wsl/**
.config/zsh/.zprofile
{{ end }}

{{ if .github_actions }}
.chezmoiscripts/windows/install-wsl.ps1
.chezmoiscripts/install-gh-extensions.sh
{{ end }}

{{ if not .private }}
.config/sops/**
.ssh/**
{{ end }}
