{{- $osBase := .chezmoi.os -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $osBase = .chezmoi.osRelease.idLike -}}
{{- end -}}

{{- $headless := false -}}
{{- $private := false -}}

{{- if eq .chezmoi.username "m1yam0t0" -}}
{{-   $private = true -}}
{{- end -}}

{{- if or (eq .chezmoi.hostname "mymt-desktop") (eq .chezmoi.hostname "mymt-thinkpad") -}}
{{-   $private = true -}}
{{- end -}}

{{- if or (env "GITHUB_ACTION") (env "WSL_DISTRO_NAME") -}}
{{-   $headless = true -}}
{{- end -}}

[data]
    osbase = {{ $osBase | quote }}
    headless = {{ $headless }}
    private = {{ $private }}
