# Check package installation
function Check-Winget-Package-Installation {
    param(
        [Parameter(Mandatory)][string]$package
    )

    # check package installation
    winget list $package | Out-Null
    if ($LastExitCode -ne 0) {
        return 0
    } else {
        Write-Host "$package has already installed."
        return 1
    }
}

{{ if not .headless -}}
# Install Package via winget
Write-Host 'Install packages via winget'
$wingetPackages =@(
{{- if ne .chezmoi.hostname "mymt-desktop" -}}
    'tailscale.tailscale',
{{- end -}}
    '7zip.7zip',
    'AgileBits.1Password',
    'AgileBits.1Password.CLI',
    'dandavison.delta',
    'Discord.Discord',
    'Git.MinGit',
    'GitHub.cli',
    'Google.JapaneseIME',
    'Microsoft.VisualStudioCode',
    'Microsoft.WindowsTerminal',
    'Mozilla.Thunderbird',
    'Neovim.Neovim',
    'Obsidian.Obsidian',
    'OpenAI.Codex',
    'SlackTechnologies.Slack',
    'Synology.DriveClient',
    'twpayne.chezmoi',
    'Valve.Steam',
    'Vivaldi.Vivaldi',
    'wez.wezterm',
    'ZedIndustries.Zed',
    'Zoom.Zoom',
{{- /* MS Store Apps */- }}
    'Apple Music',
    'LINE Desktop',
    'Raycast',
    '9PLM9XGG6VKS' # Codex
)

foreach ( $package in $wingetPackages ) {
    if ((Check-Winget-Package-Installation($package)) -eq 0) {
        winget install -e --id $package
    }
}

# Install Package via MSStore

{{ end -}}
