---
# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
registries:
- type: standard
  ref: v4.86.0 # renovate: depName=aquaproj/aqua-registry
# - name: local
#   type: local
#   file: registry.yaml
packages:
- name: BurntSushi/ripgrep@13.0.0
- name: cli/cli@v2.39.1
- name: dandavison/delta@0.16.5
- name: FiloSottile/age@v1.1.1
- name: junegunn/fzf@0.44.0
- name: koalaman/shellcheck@v0.9.0
- name: mikefarah/yq@v4.35.2
- name: mozilla/sops@v3.8.1
- name: mvdan/sh@v3.7.0
- name: neovim/neovim@v0.9.4
- name: ogham/exa@v0.10.1
- name: sachaos/viddy@v0.4.0
- name: sharkdp/bat@v0.24.0
- name: sharkdp/fd@v8.7.1
- name: stedolan/jq@jq-1.6
- name: twpayne/chezmoi@v2.41.0
- name: x-motemen/ghq@v1.4.2
# kubernetes
{{- if .private }}
- name: kubernetes/kubectl@v1.28.3
{{- end }}
- name: cilium/cilium-cli@v0.15.13
- name: doitintl/kube-no-trouble@0.7.0
- name: fluxcd/flux2@v2.1.2
- name: helm/helm@v3.13.2
- name: kubernetes-sigs/kind@v0.20.0
- name: kubernetes-sigs/kustomize@kustomize/v5.2.1
- name: kubernetes-sigs/krew@v0.4.4
- name: stern/stern@v1.27.0
- name: yannh/kubeconform@v0.6.3
