{{ if eq .chezmoi.os "darwin" -}}
# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

{{- if .wsl -}}
# SSH Agent for WSL
# https://github.com/mame/wsl2-ssh-agent
eval "$($HOME/.local/bin/wsl2-ssh-agent)"
{{ end -}}
