#!/usr/bin/env bash

# install developer tool
ret=$(xcode-select -p >/dev/null)
if [[ $ret != 0 ]]; then
	echo "install developer tool"
	xcode-select --install
else
	echo "developer tool is already installed."
fi

# install homebrew
if ! (type brew >/dev/null 2>&1); then
	echo "install homebrew."
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
	echo "homebrew is already installed."
fi

# install packages via homebrew
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/core"
tap "homebrew/bundle"
tap "homebrew/cask"
brew "git"
brew "pinentry-mac"
brew "tig"
brew "tmux"
brew "zsh"
{{ if not .headless }}
cask "1password"
cask "1password-cli"
cask "alfred"
cask "appcleaner"
cask "bettertouchtool"
cask "docker"
cask "google-japanese-ime"
cask "karabiner-elements"
cask "obsidian"
cask "rectangle"
cask "visual-studio-code"
cask "vivaldi"
cask "wezterm"
{{ if .private }}
brew "mas"
cask "notion"
cask "synology-drive"
cask "ticktick"
mas "LINE", id: 539883307
{{ end }}
{{ end }}
EOF
